@import "./../assets/Button.css";
@import "./../assets/ToggleButton.css";
@import "./../assets/Slider.css";
@import "./../assets/DateRangePicker.css";
@import "./../assets/Select.css";
@import "./../assets/theme.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--text-color);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  height: 96vh;
  margin: 2vh 1vw 2vh 1vw;
}

.header-map-group {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.header {
  max-width:min-content;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  gap: 1rem;
}

.header-controls {
  display: flex;
  flex-direction: column;
  align-items: top;
  outline-style: solid;
  outline-color: var(--button-background-pressed);
}

.header-meta-controls {
  display: flex;
  padding: .5rem;
  justify-content:space-between;
  outline-style: solid;
  outline-color: var(--button-background-pressed);
}

.header-meta-controls > button {
  margin-right: .5rem;
  min-width: 6rem;
  height: 100%;
}

.header-title {
  margin: 0px;
}

.slider-group {
  width: fit-content;
  padding: .5rem 1rem .5rem 1rem;
  margin: .3rem;
}

.slider-controls {
  display: flow-root;
  flex-direction: row;
  margin-top: .5rem;
}

.slider-controls button {
  min-height: 3rem;
}

.slider-play-controls {
  float: left;
}

.slider-speed-controls {
  float: right;
}

.map-spotlight-container {
  display: flow-root;
  margin-top: 1rem;
}

.map-legend-container {
  display: flex;
  flex: 1;
}

.map-container {
  max-height: 50vh;
  outline-style: solid;
  outline-color: var(--button-background-pressed);
}

.legend {
  padding: 0rem;
  margin: 0rem 0rem 0rem 1rem;
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
  min-width: fit-content;
  max-height: fit-content;
  height: -moz-max-content;
  outline-style: solid;
  outline-color: var(--overlay-background);
  justify-content: start;
}

.legend-entry {
  display: flex;
  min-width: fit-content;
}

.legendText{
  color: var(--text-color);
  margin: 0rem .3rem 0rem .3rem;
  align-content: center;
}

.square {
  height: 3rem;
  width: 3rem;
}

.spotlight-pane {
  margin-top: 1rem;
  outline-style: solid;
  outline-color: var(--button-background-pressed);
  max-width: 97vw;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.spotlight-title {
  display: flex;
  flex-direction: row;
  outline-style: solid;
  outline-color: var(--button-background-pressed);
  height: fit-content;
}

.spotlight-title button {
  max-height: fit-content;
  margin: .3rem .3rem 0.3rem .3rem;
}

.spotlight-title h2 {
  margin: .3rem .3rem 0.3rem .3rem;
  align-self: center;
}

.spotlight-graph {
  flex: 1;
  min-height: 100px;
  height: 3vh;
}

.recharts-dot {
  fill: var(--orange);
}

@media only screen and (max-width: 600px) {
  .header-title {
    font-size: small;
  }

  .spotlight-title h2{
    font-size: small;
  }

  .slider-controls button {
    min-height: 2rem;
    height: 2rem;
    line-height: 1rem;
  }

  .label {
    font-size: smaller;
  }

  body {
    height: 85vh;
    margin: 2vh 3vw 2vh 3vw;
  }

  .header-map-group{
    flex-direction: column;
    gap: .1rem;
  }

  .map-legend-container{
    flex: 1;
  }

  .map-container{
    flex: 1;
    max-height: 13.8rem; 
  }

  .square {
    height: 2.3rem;
    width: 2.3rem;
  }
}

@media only screen and (orientation: landscape) and (max-height: 500px){
  .header-title {
    font-size: smaller;
  }

  .spotlight-title h2{
    font-size: smaller;
  }

  .spotlight-title button{
    font-size: smaller;
    padding: .3rem .4rem .3rem .4rem;
  }

  .header-map-group{
    flex: 1;
    margin-bottom: 1rem;
  }
  .map-legend-container{
    flex: 1;
  }

  .map-container{
    flex: 1;
    /* Matches legend height */
    max-height: 13.8rem; 
  }
  
  .spotlight-pane {
    flex: 1;
    margin-top: .1rem;
  }

  .square {
    height: 2.3rem;
    width: 2.3rem;
  }
}