/* Base styles */
:root {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  background: var(--background-color);
}

:root {
    --background-color_1: #b6bfc1;
    --error-color: #a62c37;

    /* Combination #149 */
    --yellow: #d6b43e;
    --orange: #f37420;
    --green: #112f2c;

    /* Monochrome */
    --light: #ffffff;
    --medium-light: #b6bfc1;
    --medium-dark: #34454c;
    --dark: #111314;
}

/* Semantic colors */
:root {
  --accent-color: var(--green);
  --text-color: var(--dark);
  --background-color: var(--light);
  --button-background: var(--medium-light);
  --button-background-pressed: var(--medium-dark);
  --focus-ring-color: var(--dark);
  --text-color-disabled: var(--medium-dark);
  --text-color-placeholder: var(--medium-light);
  --border-color: var(--medium-dark);
  --border-color-pressed: var(--dark);
  --border-color-disabled: var(--light);
  --field-background: var(--medium-light);
  --field-text-color: var(--dark);
  --overlay-background: var(--medium-light);
  --highlight-background: var(--accent-color);
  --highlight-background-pressed: var(--orange);
  --highlight-background-invalid: var(--error-color);
  --highlight-foreground: var(--light);
  --highlight-overlay: var(--light);
  --invalid-color: var(--error-color);
  --invalid-color-pressed: var(--error-color);
}

@media (prefers-color-scheme: dark){
  :root {
    --accent-color: var(--yellow);
    --text-color: var(--light);
    --background-color: var(--dark);
    --button-background: var(--medium-dark);
    --button-background-pressed: var(--medium-light);
    --focus-ring-color: var(--light);
    --text-color-disabled: var(--medium-light);
    --text-color-placeholder: var(--medium-dark);
    --border-color: var(--medium-light);
    --border-color-pressed: var(--light);
    --border-color-disabled: var(--dark);
    --field-background: var(--medium-dark);
    --field-text-color: var(--light);
    --overlay-background: var(--medium-dark);
    --highlight-background: var(--accent-color);
    --highlight-background-pressed: var(--orange);
    --highlight-background-invalid: var(--error-color);
    --highlight-foreground: var(--dark);
    --highlight-overlay: var(--dark);
    --invalid-color: var(--error-color);
    --invalid-color-pressed: var(--error-color);
  }
}

