@import "./assets/Tabs.css";
@import "./assets/ToggleButtonGroup.css";
@import "./assets/theme.css";

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--text-color);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 96vh;
}

.site-header {
  display: flex;
  align-content: baseline;
  justify-content: space-between;
  font-size: small;
}

.site-header h1 {
  margin: .5rem .2rem .5rem .2rem;
}

.react-aria-Tabs{
  height: inherit;
}

.react-aria-TabPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (orientation: landscape) and (max-height: 500px){
  .site-header{
    font-size: x-small;
  }
  .site-header button{
    font-size: small;
  }
}