@import "./assets/Tabs.css";
@import "./assets/ToggleButtonGroup.css";
@import "./assets/theme.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--text-color);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  height: 96vh;
  margin: 2vh 1vw 2vh 1vw;
}

.site-header {
  display: flex;
  align-content: baseline;
  justify-content:space-between;
}

.react-aria-Tabs{
  height: inherit;
}

.react-aria-TabPanel {
  flex: 1;
}

@media only screen and (max-width: 600px) {
  body {
    height: 85vh;
    margin: 2vh 3vw 2vh 3vw;
  }
}